:root {
    --bg-primary-color: #171721;
    --bg-secodnary-color: #2c2c38;
    --white-color: #fff;
    --ligth-green-color: #53b645;
    --ligth-green-hover-color: #76de67;
    --ligth-red-color: #e13c31;
    --ligth-red-hover-color: #fc584d;
    --dark-blue-color: #4e44ce;
    --dark-blue-hover-color: #6f64fa;
    --purple-hover-color: #9e97ff;
    --dark-gray-color: #2f2f2f;
    --dark-gray-hover-color: #3d3d3d;
    --button-disable-bg-color: #817f7f;
    --button-disable-text-color: #bebebe;
    --input-text-color: #c1c1c1;
}