:root {
    // sizes
    --main-content-width: 1200px;
    
    // delay
    --animation-delay: 0.2s;
    
    // skeleton TODO view with design
    --skeleton-color: #696969;
    --skeleton-shadow: rgb(255 255 255 / 20%);
    
    // radius TODO
    --radius-xs: 5px;
    --radius-s: 8px;
    --radius-m: 12px;
    --radius-l: 15px;
    --radius-xl: 25px;
    --radius-xxl: 60px;
    
    // z-index
    --popup-z-index: 2;
}