.heading {
    font-family: 'Gilroy', sans-serif;

    &.SIZE_1 {
        font-size: var(--font-size-h1);
    }

    &.SIZE_2 {
        font-size: var(--font-size-h2);
    }

    &.SIZE_3 {
        font-size: var(--font-size-h3);
    }

    &.SIZE_4 {
        font-size: var(--font-size-h4);
    }
}

.text {
    font-family: 'Gilroy', sans-serif;

    &.SIZE_1 {
        font-size: var(--font-size-p1);
    }

    &.SIZE_2 {
        font-size: var(--font-size-p2);
    }

    &.SIZE_3 {
        font-size: var(--font-size-p3);
    }

    &.SIZE_4 {
        font-size: var(--font-size-p4);
    }
}

// TODO Скорректировать цвета с дизом
.THEME_DEFAULT {
    color: var(--white-color);
}

.THEME_DARK {
    color: var(--light-black-color);
}

.THEME_ERROR {
    color: var(--red-color);
}