@font-face {
    src: url('app/styles/fonts/Gilroy/Gilroy-Regular-400.woff');
    font-family: 'Gilroy';
    font-weight: 400;
}

@font-face {
    src: url('app/styles/fonts/Gilroy/Gilroy-Medium-500.woff');
    font-family: 'Gilroy';
    font-weight: 500;
}

@font-face {
    src: url('app/styles/fonts/Gilroy/Gilroy-Semibold-600.woff');
    font-family: 'Gilroy';
    font-weight: 600;
}

@font-face {
    src: url('app/styles/fonts/Gilroy/Gilroy-Bold-700.woff');
    font-family: 'Gilroy';
    font-weight: 700;
}