.flex {
    display: flex;
}

.JUSTIFY_START {
    justify-content: flex-start;
}

.JUSTIFY_END {
    justify-content: flex-end;
}

.JUSTIFY_CENTER {
    justify-content: center;
}

.JUSTIFY_BETWEEN {
    justify-content: space-between;
}

.ALIGN_START {
    align-items: flex-start;
}

.ALIGN_END {
    align-items: flex-end;
}

.ALIGN_CENTER {
    align-items: center;
}

.DIRECTION_ROW {
    flex-direction: row;
}

.DIRECTION_COLUMN {
    flex-direction: column;
}

.GAP_4 {
    gap: 4px;
}

.GAP_8 {
    gap: 8px;
}

.GAP_16 {
    gap: 16px;
}

.GAP_32 {
    gap: 32px;
}

.max {
    width: 100%;
}